#root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &>li {
        list-style-type: decimal;
        font-size: 1.5rem;
        padding: 0.5rem 1rem 0.5rem 0;
    }
}